@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-size: inherit;
    font-family: "Poppins", serif;
  }
  .header-font {
    font-family: "Overpass", serif;
    font-style: normal;
  }
  .doodles-light {
    background-image: url('/speech-doodles-white.svg');
  }
  .text-gradient {
    @apply bg-gradient-to-br text-transparent bg-clip-text w-min;
  }
}
